button {
    background-color: white; 
    color: blue; 
	border: 1px solid blue;
	border-radius: 3px;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	box-sizing:border-box;
}
button:hover{
	background-color:lightblue;
}
button:active {
    background-color: blue; 
    color: white; 
}


#banner{
	width:100%;
	text-align:center; 
	background-color:rgb(230,250,255);
	box-sizing:border-box; 
	padding:15px;
	font-weight: bold;
	font-size:400%; 
	color: rgb(70,70,70)
}
#banner img{
	height:100px;
	vertical-align:middle;
}
